<!DOCTYPE html>
<form>
	<input type="text" name="FolderName" ng-model="FolderName">
	<button ng-click="new(FolderName)">create folder</button>
</form>
{{newData.message}}
<!-- this is for top folder view -->
        <div ng-repeat="x in allData.myfolder">     
       <button ng-click="specified(x.FolderID)">{{x.FolderName}}</button>{{x.created}}  
</div>

<!-- this for more folders view
 --><button ng-click="showall();">show all the folders</button>

<div ng-show="myVar" ng-repeat="y in moreData.myfolder">
<button ng-click="specified(y.FolderID)">{{y.FolderName}}</button> {{y.created}}
    
</div>

<div ng-repeat="i in myData track by $index">
 <a href="http://{{i.link}}">{{i.link}}</a><br>
 	{{i.created}}<br>
	{{i.document}}<br>
</div>
<!-- <!- this is for general display
 --><div ng-repeat="g in genData.general track by $index">
 <a href="{{g.link.link}}">{{g.link.link}}</a><br>
 {{g.created}}<br>
 	{{g.link.value.description}}<br>
 	{{g.link.value.title}}
	{{g.document}}<br>
</div>
