<!-- Login UI with all fields -->

<h1> <font color="black">User password settings</font></h1>
	
  
   <font color="black"> {{error}}</font>
	<section>
    <form name="form">
      <div ng-control-group="credentials">
          <label for="name"><font color="red">Enter the Email to update the password</font></label>
          <input
            type="email"
            name="email"
            ng-model="email"><span style="color: red" ng-show="form.email.$error.email">please provide valid email</span><br/><br/>

          <label><font color="red">Ente the New Password</font></label>
          <input
            type="password"
            name="password"
            ng-model="password"
            > <span style="color: red"  ng-show=" password.length < 3 ">password must be more than 3 char</span> <br/><br/>

      </div>

      <button ng-click="forget(email,password);">Update  Now</button>

    </form>
    </section>
  {{allData.message}}